    body, html {
        height : 100%;
        margin : 0;
    }
    p,h2{
        margin : 0;
    }
    img{
        width : 100%;
    }
    .hero-section {
        background : linear-gradient(to right, rgb(236, 19, 19) , rgb(99, 41, 41));
        height : 100vh;
        font-family : Impact;
        color : white;
        display : flex;
        align-items : center;
        padding : 4rem;
    }
    .text-container {
        letter-spacing : 6px;
        z-index:2;
    }
    .title {
        font-size : 8.5rem;
    }
    .slogan-burger{
        font-size : 2.5rem;
        font-weight : bold;
        word-break : normal;
        width : 100%;
        white-space : nowrap;
    }
    .burger{
        z-index:2;
    }
    .oignon-gauche {
        position : absolute;
        width: 17%;
        bottom: 71%;
        right: 85%;
        transform: rotate(130deg);
    }
    .oignon-droit {
        position : absolute;
        width: 23%;
        right : 5%;
        top: 65%;
        transform : rotate(20deg);
    }
    .map-section {
        background : rgb(230, 126, 8);
        font-family : Impact;
        color : white;

        height : 100vh;

        display : flex;
        
        align-items : center;
        justify-content: space-between;
        
        flex-direction : column;
    }
    .text-container-map {
        letter-spacing : 6px;
        text-align : center;
    }    
        .slogan-map {
        font-size : 2.5rem;
        font-weight : bold;
    }
    .map-text {
        font-size : 5rem;
        text-align : center;
    }
    .google-map {
        width : 55rem;
        height : 35rem;
    }
    .flex-logos {
        gap : 0px 50px;
        display : flex;
        justify-content : center;
        align-items : flex-start;
    }
    .insta {
        width : 8rem;
        height : 8rem;
    }
    .snap {
        width : 8rem;
        height : 8rem;
    }
    .tiktok {
        width : 8rem;
        height : 8rem;
    }
    .about-section {
        background : rgb(255, 233, 172);
        height : 60vh;
        font-family : Impact;
        color : rgb(51, 47, 47);
        display : flex;
        justify-content : space-between;
        align-items : flex-start;
        padding : 5rem;
    
    }
    .text-fin-left{
        font-size : 5.5rem;
        width : 28%;
        word-wrap : break-word;
        overflow : break-word;
    }
    .title-fin {
        font-size : 8.3rem;
        width : 32%;
        word-wrap : break-word;
        overflow : break-word;
    }
    .text-fin-right{
        font-size : 5.5rem;
        width : 28%;
        word-wrap : break-word;
        overflow : break-word;
    }